<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.template1, .template2 {
    display: flex;
    align-items: center;
}

.left {
    margin-right: 50px;
}

.descr, .img {
    width: calc(50% - 25px);
}

.descr {
    padding: 20px;
    padding-right: 0;
}
</style>
<!-- end Simple Custom CSS and JS -->
